/* ---------
    link font family
 ---------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* added all body font family */

body {
  font-family: "Roboto", sans-serif;
}

/* header style */
.expense-header {
  color: #31a5ac;
  font-size: 48px;
  font-weight: 700;
  margin-top: 24px;
}
/* --------------------------
      style expense master
--------------------------- */
/* .expense-master-left img {
  height: 80vh;
} */
.expense-right {
  background-color: #f8f8f8;
  padding: 38px 0;
}

.expense-text {
  position: relative;
  top: 24px;
  margin-top: 39px;
}
.expense-field input {
  background-color: #dcdcdc;
  outline: none;
  border: #dcdcdc;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0 5px;
}
.text {
  margin: 28px 0;
}
/* button style */

.expense-btn {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background-color: #59a5ff;
  border: none;
  line-height: 31px;
  padding: 0 27px;
}
.saving-input-field {
  width: 132px;
  background-color: #dcdcdc;
  outline: none;
  border: #dcdcdc;
  margin-left: 10px;
  padding: 0 5px;
}
.savings {
  margin-top: 16px;
  font-weight: 500;
}
.save-icon {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}
